.profile {
	display: grid;
	max-width: 880px;
	height: 120px;
	grid-template-areas: 
	"profile__avatar profile__info profile__add-button";
	grid-template-columns: 120px 336px 1fr;
	align-items: center;
	margin: 40px auto 50px auto;
	box-sizing: border-box;
}

@media screen and (max-width: 900px) {
	.profile {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "profile__avatar" "profile__info" "profile__add-button";
		height: 100%;
		justify-items: center;
		margin: 40px auto 40px auto;
		padding: 0 20px;
	}
}